<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Learners_Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>displaystudents.jsp</welcome-file>
    <welcome-file>displayteachers.jsp</welcome-file>
    <welcome-file>displaysubjects.jsp</welcome-file>
    <welcome-file>displayclass.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PageNavigationServlet</display-name>
    <servlet-name>PageNavigationServlet</servlet-name>
    <servlet-class>com.learneracademy.Servlet.PageNavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageNavigationServlet</servlet-name>
    <url-pattern>/PageNavigationServlet</url-pattern>
  </servlet-mapping>
 
</web-app>